<div class="wrapper">
  <div class="card">
    <h1 class="title">User List</h1>

    <div class="content">
      <div>
        <div class="search-wrapper">
          <ng-icon name="matSearch" class="search-icon" size="20"></ng-icon>
          <input [class]="errorMessage ? 'input-error' : 'input'" type="text" placeholder="Enter User Info"
            (input)="filterUser($event.target.value)" />
        </div>
        @if (errorMessage) {
        <p class="error-message">
          <ng-icon name="matInfo" size="14"></ng-icon>
          <span>{{ errorMessage }}</span>
        </p>
        }
      </div>

      <div [hidden]="!(filteredUsers.length > 0)">
        @for (item of filteredUsers; track $index) {
        <app-user-card [name]="item.name" [email]="item.email" [role]="item.role">
        </app-user-card>
        }
      </div>

      <div [hidden]="filteredUsers.length > 0" class="empty-state">
        No users found.
      </div>
    </div>

  </div>
</div>

<router-outlet />